/* Mobile */
html {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    scrollbar-gutter: stable;
}

body {
    height: 100%;
    font-size: 130%;
    width: 60vw;
}

div#navigation {
    padding-left: 30px;

}

div#navigation a {
    border: none;
    margin: 0px 6px 0px 6px;
}


div#content {
    padding: 20px;
}

div#footer {
    display: flex;
}


div#post {
  padding-left: 20px
}



@media screen and (max-width: 900px) {
  body {
    width: 100%;
  }
}
