body {
    margin: auto;
    scrollbar-gutter: stable;
    height: 100%;
    width: 40vw;
}

@media screen and (max-width: 1024px) {
  body {
    width: 80%;
  }
}

@media screen and (max-width: 700px) {
  body {
    width: 100%;
  }
}

div#navigation {
    padding-left: 20px;
    margin-bottom: 20px;
}

div#navigation a {
    border: none;
    margin: 0px 12px 0px 0px;
}

div#navigation h3 {
    color: #c26170;
}

div#content {
    padding: 10px 10px 10px 20px;
}

div#footer {
    display: flex;
}
