@font-face {
  font-family: 'Crimson Pro';
  font-style: normal; 
  src: url (/fonts/crimson-pro/CrimsonPro-Regular.ttf) format ('truetype');
}


@font-face {
  font-family: 'Inconsolata';
  font-style: normal; 
  src: url (/fonts/inconsolata/Inconsolata-Regular.ttf) format ('truetype');
}
